; 🌈 PRISM POLYBAR
[bar/main]
width = 100%
height = 32
top = true
background = #1a1b26aa
foreground = #c0caf5
font-0 = JetBrains Mono Nerd Font:size=10;2
font-1 = FontAwesome6FreeSolid:size=10;2
modules-left = i3 xwindow
modules-center = date
modules-right = pulseaudio memory cpu battery
border-size = 0
border-color = #7aa2f7
radius = 8
margin-top = 8
margin-left = 8
margin-right = 8
tray-position = right

[module/i3]
type = internal/i3
label-focused = %name%
label-focused-foreground = #1a1b26
label-focused-background = #7aa2f7
label-unfocused = %name%
label-urgent = %name%!

[module/date]
type = internal/date
date = %H:%M
label = %date%
format-foreground = #bb9af7

[module/pulseaudio]
type = internal/pulseaudio
label-volume = %{F#7aa2f7}%{F-} %percentage%%
label-muted = %{F#f7768e}%{F-} muted

[module/memory]
type = internal/memory
label = %{F#7aa2f7}⚗%{F-} %used%

[module/cpu]
type = internal/cpu
label = %{F#7aa2f7}⚡%{F-} %percentage%%

[module/battery]
type = internal/battery
battery = BAT0
format-charging = %{F#9ece6a}⚡%{F-} %percentage%%
format-discharging = %{F#7aa2f7}%{F-} %percentage%%
